
@{
    ViewBag.Title = "RepurchasePlatform";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<link href="~/Content/CoSwapApp.css" rel="stylesheet" />
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/scripts/modernizr-2.6.2.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style>
    .footer {
        left: 0;
        bottom: 0;
        max-width: 100%;
        background-color: #464646;
        color: white;
    }

    ul.FooterList {
        /*margin: 0.75em 0;*/
        padding: 0 1em;
        list-style: none;
        padding-left: 27px;
    }

        ul.FooterList li:before {
            content: "";
            border-color: transparent black;
            border-style: solid;
            border-width: 0.35em 0 0.35em 0.45em;
            display: block;
            height: 0;
            width: 0;
            left: -1em;
            top: 1em;
            position: relative;
        }

    .mySlides {
        display: none;
    }

    td.Hyper a:hover {
        text-decoration: none;
    }

    .container {
        max-width: 2000px;
        padding: 0;
    }

    body {
        margin: 0px;
        padding: 0px;
        color: #696969;
        height: 780px;
        width: 100%;
        max-width: 2000px;
    }

    .FooterLinks {
        margin-left: 70px;
    }

    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }

    .borderless td, .borderless th {
        border: none;
    }

    /*@@media (min-width: 992px) {
             .col-md-8 {
                 width: 67.666667%;
                 padding-left: 64px;
             }

         }
         @@media (min-width: 768px) {
             .col-sm-8 {
                 width: 68.666667%;
                 padding-left: 54px;
             }

         }
         @@media (min-width: 1020px) {
             .col-md-8 {
                 width: 30.666667%;
                 padding-left: 3%;
             }
         }
         @@media (min-width: 1500px) {
             .col-lg-8 {
                 width: 41.666667%;
                 padding-left: 0px;
                 margin-left:-7px;
             }
         }
         @@media (min-width: 1700px) {
             .col-lg-8 {
                 width: 41.666667%;
                 padding-left: 0%;
                 margin-left:-7%;
             }
         }
        @@media (min-width: 992px) {
             .col-md-2 {
                 width: 22.666667%;

             }
         }
         @@media  {
             .col-sm-12 {
                 margin-left: -20px;

             }
         }*/
    @@media (max-width: 1018) {
        .main {
            left: 28px !important;
        }

        .bain {
            margin-left: 150px !important;
        }

        .list-unstyled {
            margin: 15px !important;
        }
    }
</style>
<div class="container-fluid">
    <div class="row" style="background-color:#FBFBFB;margin-left:-15px;margin-right:0px">
        <div class="col-md-8">
            <img src="~/Images/header-menu-new1.jpg" width="100%" class="img-responsive" />
        </div>
        <div class="col-md-2" style="padding-left:13%;padding-top: 2%;">

            <table class="table-responsive">
                <tr class="spacer">
                    <th><a target="_blank" href="https://ixdot.azurewebsites.net/dealer" style="text-decoration:none;color:black">Login</a></th>
                    <th>&nbsp;&nbsp;|&nbsp;&nbsp;</th>
                    <th id="google_translate_element"></th>
                </tr>
            </table>
        </div>

    </div>
</div>

    <nav>
        <ul id='menu'>
            <li>
                <a class='prett' href='/'>About Us <img src="~/Images/drop-down-select.png" style="height: 16px; width: 1px; margin: 0px 0px 0px 9px;" /> </a>
                <ul class='menus'>
                    <li class='has-submenu'>
                        <a class='home' href="@Url.Action("ManagementTeam","Home")" title='Management Team'>Management Team</a>
                    </li>
                </ul>
            </li>

            <li>
                <a class='prett' href="" title='Our Products'>Our Products <img src="~/Images/drop-down-select.png" style="height: 16px; width: 1px; margin: 0px 0px 0px 9px;" /></a>
                <ul class='menus'>
                    <li class='has-submenu'>
                        <a class='prett' href="@Url.Action("ColIntro","Home")" title='Collateral Swap'>Collateral Swap</a>
                        <ul class='submenu'>
                            <li><a href="@Url.Action("ColIntro","Home")" title="Introduction">Introduction</a></li>
                            <li><a href="@Url.Action("CollateralSwap","Home")" title="Collateral Swap">Collateral Swap</a></li>
                            <li><a href="@Url.Action("CollateralSwapPlatform","Home")" title="Collateral Swap Platform">Collateral Swap Platform</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a class='prett' href="@Url.Action("RepoIntro","Home")" title='Repurchase Agreement'>Repurchase Agreements</a>
                        <ul class='submenu' style="width:auto">
                            <li><a style="width: 325px;" href="@Url.Action("RepoIntro","Home")" title="Repurchase Agreements (REPO) & Liquidity Management">Repurchase Agreements & Liquidity Management</a></li>
                            <li><a href="@Url.Action("Repurchase","Home")" title="Repurchase Agreements">Repurchase Agreements</a></li>
                            <li><a href="@Url.Action("RepurchasePlatform","Home")" title="Repurchase Agreements Platform">Repurchase Agreements Platform</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a class='ContactUs' href="@Url.Action("ContactUs","Home")">Contact Us <img src="~/Images/drop-down-select.png" style="height: 16px; width: 1px; margin: 0px 0px 0px 9px;" /></a></li>

            <li style="opacity:0.2"><a class='ContactUs'>Our Partners <img src="~/Images/drop-down-select.png" style="height: 16px; width: 1px; margin: 0px 0px 0px 9px;" /></a></li>

            <li style="opacity:0.2"><a class='ContactUs'>FAQs <img src="~/Images/drop-down-select.png" style="height: 16px; width: 1px; margin: 0px 0px 0px 9px;" /></a></li>

            <li style="opacity:0.2"><a class='ContactUs'>Blogs <img src="~/Images/drop-down-select.png" style="height: 16px; width: 1px; margin: 0px 0px 0px 9px;" /></a></li>

            <li style="opacity:0.2"><a class='ContactUs'>Suggested Links <img src="~/Images/drop-down-select.png" style="height: 16px; width: 1px; margin: 0px 0px 0px 9px;" /></a></li>

            <li style="opacity:0.2"><a class='ContactUs'>Testimonials <img src="~/Images/drop-down-select.png" style="height: 16px; width: 1px; margin: 0px 0px 0px 9px;" /></a></li>

            <li style="opacity:0.2"><a class='ContactUs'>Legal Documentation </a></li>

        </ul>
    </nav>


<div style="height:40px;padding-top: 9px;margin-left: 14px;">
    <span style="color:#68B3EB;font-family:Calibri">Our Products</span>&nbsp;<b>></b>&nbsp;<a href="@Url.Action("RepurchasePlatform","Home")" style="color:#68B3EB;font-family:Calibri">Repurchase Agreement</a>&nbsp;<b>></b>&nbsp;<span style="font-family:Calibri">Repurchase Agreements Platform</span>
</div>

<table>
    <tr>
        <td class="col-md-3" style="background-color:#EDEDED;vertical-align:top;padding-top:35px">
            <ul style="font-family:Calibri">
                <li style="margin-left:-35px;list-style-type:none">
                    <b style="color:black">Collateral Swap</b>
                    <ul class="FooterList">
                        <li style="height: auto;"><a href="@Url.Action("ColIntro","Home")" title="Collateral Swap">An Appreciation of Collateral Swap</a></li>
                        <li style="height: auto;"><a href="@Url.Action("CollateralSwap","Home")" title="Collateral Swap">Collateral Swap</a></li>
                        <li style="height: auto;"><a href="@Url.Action("CollateralSwapPlatform","Home")" title="Collateral Swap Platform">Collateral Swap Platform</a></li>
                    </ul>
                </li>

                <li style="margin-top: 14px;list-style-type:none">
                    <b style="color:black;margin-left:-36px">Repurchase Agreement</b>
                    <ul class="FooterList" style="margin-left:-37px">
                        <li style="height:auto;"><a style="width:325px;" href="@Url.Action("RepoIntro","Home")" title="Repurchase Agreements (REPO) & Liquidity Management">Repurchase Agreements & Liquidity Management</a></li>
                        <li style="height: auto;"><a href="@Url.Action("Repurchase","Home")" title="Repurchase Agreements">Repurchase Agreements</a></li>
                        <li style="height: auto;"><u>Repurchase Agreements Platform</u></li>
                   </ul>
                </li>

            </ul>
        </td>
        <td class="col-md-9">
            <p class="well" style="background-color:#FCB414;width:185px;color:white;text-align:center;height:auto;padding:10px; margin-top: -2px;margin-left: -15px;margin-bottom:7px">
                <b>Repurchase Platform</b>
            </p>

            <div style="text-align: justify;font-family:calibri;font-size:16px;margin: 2px 5px;">

                This application platform, named IXDOT Repo (repurchase agreement) is designed as an inter-bank
                trading platform meant for users to buy and sell liquid collateral via a sale and buy-back (or a buy
                and sell back) transaction. Primary users of this application will be treasury dealers with Banks.<br /><br />
                Secondary users will be the fund managers with asset management companies, insurers, pension
                funds, hedge funds, family offices etc. The main objective for using this application is for users to
                manage their pool of quality assets that financial institutions hold by changing its quantity based on
                a collateral hierarchy maintained by the users. The platform is not restricted to banks who are
                governed by liquidity thresholds but can also be used by any participant who has a need to either
                improve its liquidity position to meet regulatory liquidity rules, or augment its yields.<br /><br />
                The platform provides a framework of asset portfolios that participants can peruse, provide pricing
                indicators, and ultimately trade to manage their liquidity profiles. The platform brings together
                participants with surplus liquidity and matches them with those who have a need to improve their
                liquidity position, and vice versa. The economic ownership of the assets remain vested with the
                counterparties and there is no need therefore for a sale.<br /><br />
                From the standpoint of the liquidity provider, the following considerations merit a mention:<br />
                <div style="text-align: justify;font-family:calibri;font-size:16px">
                    <ul>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;It provides yield enhancing opportunities</li>

                        <li>
                            &nbsp;&nbsp;&nbsp;&nbsp;The bank receives insurance for providing liquidity through over-collateralisation or
                            additional margining
                        </li>

                        <li>&nbsp;&nbsp;&nbsp;&nbsp;In the event of counterparty default, the lower quality asset is available for liquidation</li>

                        <li>&nbsp;&nbsp;&nbsp;&nbsp; It provides a comparison of yields from various borrowers</li>

                    </ul>
                </div>
                IXDOT Repo works on a stand-alone basis as a trading platform and can be bundled with Kamakura
                Corporation’s KRIS (Kamakura Risk Information Services) providing a comprehensive trading
                platform and risk management capabilities.<br /><br />
                From a borrower (bank with a need for liquidity)
                perspective, the following considerations accrue:<br />
                <div style="text-align: justify;font-family:calibri;font-size:16px">
                    <ul>
                        <li style="padding-left: 15px;">It improves liquidity quickly</li>

                        <li style="padding-left: 15px;">It is cheaper than liquidating low quality assets for higher quality</li>

                        <li style="padding-left: 15px;">It provides the borrower with multiple choices and avenues</li>

                        <li style="padding-left: 15px;">
                            It provides an uptick in the LCR metric immediately if the repo holding period is less than 30
                            days and improves NSFR if the period is less than a year
                        </li>

                        <li style="padding-left: 15px;">The transaction is Central Bank approved</li>

                    </ul>
                </div>
            </div>
            @*<div data-role="main" class="ui-content embed-responsive embed-responsive-16by9">
                    <p style="background-color:#FCB414;width:303px;color:white;text-align:center;height:40px;padding:10px">
                        THE NEED FOR A TRADING PORTAL
                    </p>
                </div>*@
            <p class="well" style="background-color:#FCB414;width:231px;color:white;margin-left:-15px;text-align:center;height:auto;padding:10px; margin-top: 16px">
                <b>The need for a trading portal</b>
            </p>
            <div>
                <p style="text-align: justify;font-family:calibri;font-size:16px; margin: 2px 4px">
                    Just as likely as the existence of an organisation that has a need for improving its liquidity position,
                    there is bound to be the existence of organisations that have surplus liquidity and in need to
                    increase their yields. This necessitates the need for a platform where such participants can come
                    together, provide their portfolio of assets that they are willing to buy and sell, and then, once a price
                    is established, trade on the platform itself to construct such a repo or a reverse repo.
                </p><br />
                <b style="margin-left: 5px;text-align: justify">BENEFITS</b>
                <div style="text-align: justify;font-family:calibri;font-size:16px;margin: 2px 21px">
                    <ul style="margin:0px -16px">
                        <li style="padding-left: 10px;">
                            Supports GMRA agreements recommended by the International Capital Markets Association
                            (ICMA) designed for parties transacting repos, and therefore, is in compliance with the
                            principal master agreement for cross-border repos globally, as well as for all domestic repo
                            markets where IXDOT has operations.
                        </li>

                        <li style="padding-left: 10px;"> Provides a multilateral, anonymous platform to find guide prices for repos.</li>

                        <li style="padding-left: 10px;">
                            Incorporates limits specified at user-designated levels which ensure that only counterparties
                            with limits are considered for trades.
                        </li>

                        <li style="padding-left: 10px;">
                            Seamlessly provides confirmation and transaction details to enable the back office to
                            process the transaction through their source systems.
                        </li>

                        <li style="padding-left: 10px;">
                            Clearly identifies counterparty limits and allows the use of trades only within such
                            established limits.
                        </li>

                        <li style="padding-left: 10px;">
                            Provides individual credit ratings and rating outlooks of all registered and certified issuers
                            plus rating history details from 1998 onwards, sovereign ratings, and implied ratings.
                        </li>
                        <li style="padding-left: 10px;">
                            Provides streamlines workflow integration via standardised APIs to institution risk capture
                            and risk management system.
                        </li>

                        <li style="padding-left: 10px;">
                            Facilitates end to end smooth execution flow from identifying an opportunity trade to
                            closing that trade.
                        </li>


                        <li style="padding-left: 10px;">Supports Blockchain digitalization infrastructure.</li>
                    </ul>
                </div>
            </div>

        </td>
    </tr>
</table>






<div class="footer" style="padding-top:2%;padding-left:2%;padding-bottom:1px">

    <div class="container-fluid">
        <div class="row" style="margin-left:0px; margin-right:0px">
            <div class="col-md-2" style="width:160px;margin-left:-22px">
                <ul class="list-unstyled">
                    <li style="display:none"><img src="~/Images/bullet.png" style="width: 7px; padding-bottom:3px;" />Coffee</li>
                    <li><p style="margin-top:-17px;margin-left:-3px;font-size:13px">Quick Navigation</p></li>
                    <li><img src="~/Images/bullet.png" style="width: 7px; padding-bottom:3px;" /><span style="margin-left:12px;margin-bottom:10%;font-size: 13px;"><a href="@Url.Action("Home","Home")" style="color:white">About Us</a></span></li>
                    <li style="padding-top: 8px;"></li>
                    <li><img src="~/Images/bullet.png" style="width: 7px; padding-bottom:3px;" /><span style="margin-left:12px;margin-bottom:10%;font-size: 13px">Our Partners</span></li>
                    <li style="padding-top: 8px;"></li>
                    <li><img src="~/Images/bullet.png" style="width: 7px; padding-bottom:3px;" /><span style="margin-left:12px;margin-bottom:10%;font-size: 13px"><a href="@Url.Action("ColIntro","Home")" style="color:white">Our Products</a></span></li>
                    <li style="padding-top: 8px;"></li>
                    <li><img src="~/Images/bullet.png" style="width: 7px; padding-bottom:3px;" /><span style="margin-left:12px;margin-bottom:10%;font-size: 13px">FAQs</span></li>
                    <li style="padding-top: 8px;"></li>
                    <li><img src="~/Images/bullet.png" style="width: 7px; padding-bottom:3px;" /><span style="margin-left:12px;margin-bottom:10%;font-size: 13px "><a href="@Url.Action("ContactUs","Home")" style="color:white">ContactUs</a></span></li>
                </ul>
            </div>
            <div class="col-md-2" style="margin-left:-7px;margin-top:11px;">
                <ul class="list-unstyled">
                    <li><img src="~/Images/bullet.png" style="width: 7px; padding-bottom:3px;" /><span style="margin-left:12px;margin-bottom:10%;font-size: 13px">Blogs</span></li>
                    <li style="padding-top: 8px;"></li>
                    <li><img src="~/Images/bullet.png" style="width: 7px; padding-bottom:3px;" /><span style="margin-left:12px;margin-bottom:10%;font-size: 13px">Suggested Links</span></li>
                    <li style="padding-top: 8px;"></li>
                    <li><img src="~/Images/bullet.png" style="width: 7px; padding-bottom:3px;" /><span style="margin-left:12px;margin-bottom:10%;font-size: 13px">Testimonials</span></li>
                    <li style="padding-top: 8px;"></li>
                    <li><img src="~/Images/bullet.png" style="width: 7px; padding-bottom:3px;" /><span style="margin-left:12px;margin-bottom:10%;font-size: 13px">Legal Documentation</span></li>
                </ul>
            </div>
            <div class="col-md-1"></div>

            <div class="col-md-3" style="margin-left:-7px">

                <ul class="list-unstyled">
                    <li><p style="margin-top:-17px;font-size:13px">Contact Info</p></li>
                    <li>
                        <img src="~/Images/location.png" /><span style="margin-left:3%;font-size:12px">1, Coleman Street, #10-06,</span>
                    </li>
                    <li>
                        <img src="~/Images/Screenshot (19).png" /><span style="margin-left:3%;font-size:12px">The Adelphi,</span>
                    </li>
                    <li>
                        <img src="~/Images/Screenshot (19).png" /><span style="margin-left:3%;font-size:12px">Singapore 179803</span>
                    </li>
                    <li style="padding-top:3px"></li>
                    <li><img src="~/Images/call1.png" /><span style="margin-left:2%;font-size:12px"> +65 6589-8186</span></li>
                    <li style="padding-top:3px"></li>
                    <li>
                        <img src="~/Images/mail.png" /><span style="margin-left:2%;font-size:12px">
                            yvonne.chow@ixdotco.com<br />
                            <img src="~/Images/Screenshot (19).png" style="width:24px" /><span style="margin-left:3%;font-size:12px">www.ixdotco.com</span>
                        </span>
                    </li>
                    @*<li>
                            <img src="~/Images/Screenshot (19).png" /><span style="margin-left:3%;font-size:12px">www.ixdotco.com</span>
                        </li>*@

                </ul>
            </div>
            <div class="col-md-4 container-fluid" style="padding-right:0px">
                <p style="float:right;margin-top:129px;font-size:12px;color:#46bddf">© Copyrights @DateTime.Now.Year .All Rights Reserved.</p>
            </div>

        </div>
    </div>

</div>
    
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
    }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
